<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'tangxuelong',
  repo: 'blogsystem',
  oauth: {
    client_id: 'ff9601067aa361b40032',
    client_secret: 'e6966b1553849a90172864f2f6cf340be59c5995',
  },
})
gitment.render('container')
</script>
<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
